@{ 

}
<div class="calendar"></div>
@section Scripts{
            <script src="~/lib/fullcalendar/main.min.js"></script>
            <script>
                    document.addEventListener("DOMContentLoaded", function () {
                    const calendarEl = document.getElementById('calendar');
                    const calendar = new FullCalendar.Calendar(calendarEl, {
                                dayMaxEventRows: 3,
                        initialView: 'dayGridMonth',
                    });
                    calendar.render();
                });
            </script>
        }
