@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categorias";
}
<h5>
    La categoría nos permite indicar en qué gastamos,
    también, de dónde provienen nuestros ingresos.
</h5>
<a asp-action="Create" class="btn btn-primary mb-3">Crear nueva categoria</a>
<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@categoria.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@categoria.Id">Borrar</a>
                </td>
                <td>
                    @categoria.Name
                </td>
                <td>
                    @categoria.TransactionTypeId.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>