@model IEnumerable<MoneyManager.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h4>Indice de transacciones</h4>
<a asp-action="Create" class="btn btn-primary mb-3">Crear una nueva transaccion</a>
<div id="content"></div>
<div id="result"></div>
@section Styles{
    <style src="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"></style>
 }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script>
    function loadForm() {
        document.getElementById("content").innerHTML = `<div  class="col-7">
                                             <form action="/" method="post" class="form-row">
                                            <div>
                                                <div class="col p-2">
                                                    <label>Busqueda transaccion por categoria </label>
                                                    <select id="TransactionType" class="form-control">
                                                    </select>
                                                    <select id="Categories" class="form-control"  style="margin-top: 10px"><option value="">seleccionar categoria</option></select>
                                                    <button type="submit"  id="dataName" class="btn btn-primary mb-3" style="margin-top: 10px">Buscar</button>
                                                </div>
                                            </div>
                                      </form >
                                 <hr />
                                    <form action="/" method="post" class="form-row">
                                        <div>
                                            <div class="col p-2">
                                                <label>Busqueda transaccion por Descripcion </label>
                                                <input id="DescriptionForm" type="text" class="form-control form-control-sm" />
                                                <button id="dataDescription" type="submit" class="btn btn-primary mb-3" style="margin-top: 10px">Buscar</button>
                                            </div>
                                        </div>
                                    </form>
                                <hr />
                                    <form action="/" method="post" class="form-row">
                                        <div>
                                            <div class="col p-2">
                                                <label>Busqueda transaccion por fecha </label>
                                                <input type="date" class="form-control form-control-sm" />
                                                <button id="dataDate" type="submit" class="btn btn-primary mb-3" style="margin-top: 10px">Buscar</button>
                                            </div>
                                        </div>
                                    </form>
                        </div>`
    }

    function chargeTable(arrayTransaction) {
        let html = '<ul class="list-group list-group-flush">';
        console.log(arrayTransaction)
        arrayTransaction.map(x => {
            console.log(x.transactionType)
            let noteTrim = (x.note).trim();
            if (x.transactionType == 1) {
                html +=
                    `<li  class="list-group-item list-group-item-success">
                        ${noteTrim} - ${x.dateTransaction} - ${x.mount}<li> `
            }
            else {
                html +=
                    `<li  class="list-group-item list-group-item-danger">
                        ${noteTrim} - ${x.dateTransaction} - ${x.mount}<li> `
            }
        })
        html += "</ul>"
        document.getElementById("result").appendChild(document.createElement('div')).innerHTML = html;
    }

    function deleteForm() {
        const content = document.getElementById("content");
        for (let i = 1000; i > 0; i--) {
            let opacity = i - 0.5;
            setTimeout(() => {
                content.style.opacity = `${opacity}`
                if (opacity == 0.5) {
                    setTimeout(() => { content.innerHTML = "" },500)
                }
            }, 500)
        }
    }

    document.addEventListener("load", loadForm());

    document.getElementById("dataDate").addEventListener("click",async e => {
        e.preventDefault();
        deleteForm()
    })

    document.getElementById("dataName").addEventListener("click", async e => {
        e.preventDefault();
        deleteForm()
    })

    document.getElementById("dataDescription").addEventListener("click", async e => {
        e.preventDefault();
        const urlFetch = '@Url.Action("GetTransactionXdescriptionJson")'
        const bodyData = $("#DescriptionForm").val()
        const data = await fetch(urlFetch + "/?description=" + bodyData);
        const json = await data.json();
        chargeTable(json);
        deleteForm()

    })

    const url = '@Url.Action("GetCategoriesJson")';

    document.getElementById("TransactionType").innerHTML = `
       <option value="0">seleccionar Ingreso-Gasto</option>
       <option value="1">Ingreso</option>
       <option value="2">Gasto</option>`

    document.getElementById("TransactionType").addEventListener("change", async function () {
        const data = await fetch(url, {
            method: 'POST',
            body: $(this).val(),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const json = await data.json();
        const options = json.map(x => `<option value=${x.value}>${x.text}</option>`)
        $("#Categories").html(options);

    })






</script>

}
