@model IEnumerable<MoneyManager.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h4>Indice de transacciones</h4>
<a asp-action="Create" class="btn btn-primary mb-3">Crear una nueva transaccion</a>
